body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #f1f5f8;
    font-family: -apple-system,BlinkMacSystemFont,
                  "Segoe UI",Roboto,Oxygen,Ubuntu,
                  Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.back {
    position: absolute;
    height: 50vh;
    width: 100vw;
    background: #2c2e31;
}

.fore {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    height: 50vh;
    width: 800px;
    border-radius: 5px;
    box-shadow: 0 0 20px black;
}

.container-back {
    position: absolute;
    height: 10vh;
    width: 800px;
    background: #f1f5f8;
    border-radius: 5px 5px 0 0;
    border-bottom: solid #b5b8ba 1px;
}

.user-details {
    position: absolute;
    height: 50vh;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-border {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid 1px #b5b8ba;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-user-photo {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.intro-text {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
}

.intro-answer {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
    color: black;
}

.logos {
    width: 700px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 10px;
}

button {
    background: #49a6e9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    outline: none;
}

button[name="randomUser"] {
    border-radius: 3px;
    background-color: rgb(231, 112, 132);
    transition: all 200ms;
    box-shadow: 5px 5px 3px rgb(121, 102, 102);
}

button:hover {
    background-color: #8e3e45;
}

button[name="randomUser"]:hover {
    transform: scale(1.1);
}